name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.27.0'
      - name: Install dependencies
        run: flutter pub get
      - name: Pub upgrade
        run: flutter pub upgrade --major-versions
      - name: Build runner
        run: dart run build_runner build --delete-conflicting-outputs
      - name: Analyze code
        run: dart analyze --fatal-infos
      - name: Run tests
        run: flutter test
      - name: Format code
        run: dart format --fix .
