on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+*'
    branches:
      - main
  pull_request:
    branches:
      - main
      
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.22.x'
          channel: 'stable'
      - name: Install dependencies
        run: flutter pub get
      - name: Pub upgrade
        run: flutter pub upgrade --major-versions
      - name: Build runner
        run: dart run build_runner build --delete-conflicting-outputs
      - name: Analyze code
        run: dart analyze --fatal-infos
      - name: Run tests
        run: flutter test
      - name: Format code
        run: dart format --fix .