on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+*'
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.16.2'
      - name: Install dependencies
        run: flutter pub get && dart run build_runner build --delete-conflicting-outputs
      - name: Pub upgrade
        run: flutter pub upgrade --major-versions
      - name: Run tests
        run: flutter test
      - name: Format code
        run: dart format --fix .